# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
/bin/
/server

# IDE/editor
.vscode/
.idea/
*.swp
*.swo

# Dependency directories
vendor/

# OS files
.DS_Store
Thumbs.db

# Environment
.env
.env.local
.env.dev
.env.prod

# rest client
*.http
__debug_*


# project specific utilities
db/utils/

.envrc
*.csv

# csv file importer
tools/importcashflow/*
tools/importcsv/*
tools/mappings/*
pkg/importer/*
tools/transform_staging/*

# documentation


# data import
tools/mappings/salesprocess.json
pkg/importer/salesprocess.go
tools/merge_truecoach.py
tools/importcashflow/*
tools/importcsv/*
tools/extract_sales_names/*
tools/importsales/*
tools/__pycache__/*
*.csv
*.txt
Cashflow.json
tools/README_internal.md

# local make overrides (ignored)
Makefile

# logs
*.log
*_import.json
